@model PagedModel<GroupModel>

@{
    ViewBag.Title = "Groups";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Members
        </th>
        <th>
            Stories
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.SubscribersCount
            </td>
            <td>
                @item.StoriesCount
            </td>
            <td>
                @if (item.OwnerId == (User.Identity as StoryBoard.Security.StoryBoardIdentity).UserId)
                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.GroupId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.GroupId }) |
                        @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.GroupId })
                    </div>
                }
            </td>
        </tr>
    }

</table>

<nav>
    <ul class="pagination">
        @if (Model.PageStart > Model.PageLength)
        {
            <li>
                <a href="@Url.Action("Index", new { page = Model.PageStart - Model.PageLength })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = Model.PageStart; i <= Model.PageEnd; i++)
        {
            <li><a href="@Url.Action("Index", new { page = i })">@i.ToString()</a></li>
        }
        @if (Model.PageEnd < Model.PageCount)
        {
            <li>
                <a href="@Url.Action("Index", new { page = Model.PageEnd + 1 })" a aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>